.progress-bar-container {
    width: 100%;
    background-color: #fdfdfd;
    overflow: hidden;
    
  }
  
  .progress-bar {
    
    background-color: #f97902;
    width: 0%;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 30px;
    transition: width 0.4s;
  }
  