
/* Tailwind CSS Customizations */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: orange;
}

/* Prevent text selection globally */
* {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}

/* Prevent copying on touch devices */
body {
  -webkit-touch-callout: none;
}
